*~
*.a
*.la
*.lo
*.o
*.so
*ib_doublewrite
*ib_logfile0
*ib_logfile1
*ibdata1

*.cmake
!/cmake/*.cmake
*CMakeFiles/
CMakeCache.txt
Makefile

.cproject
.deps
.metadata
.project
.settings
.*.swp
Docs/INFO_BIN
Testing/
VERSION.dep

client/async_example
client/decimal.c
client/link_sources
client/log_event.cc
client/log_event.h
client/log_event_old.cc
client/log_event_old.h
client/my_decimal.cc
client/my_decimal.h
client/my_user.c
client/mysql
client/mysql_plugin
client/mysql_priv.h
client/mysql_upgrade
client/mysqladmin
client/mysqlbinlog
client/mysqlcheck
client/mysqldump
client/mysqlimport
client/mysqlshow
client/mysqlslap
client/mysqltest
client/rpl_constants.h
client/rpl_record_old.cc
client/rpl_record_old.h
client/rpl_tblmap.cc
client/rpl_tblmap.h
client/rpl_utility.h

config.guess
config.log
config.status
config.sub
configure

dbug/dbug_analyze
dbug/dbug-t
dbug/example1.r
dbug/example2.r
dbug/example3.r
dbug/factorial
dbug/factorial.r
dbug/main.r
dbug/output1.r
dbug/output2.r
dbug/output3.r
dbug/output4.r
dbug/output5.r
dbug/tests
dbug/user.ps
dbug/user.t

extra/charset2html
extra/comp_err
extra/innochecksum
extra/my_print_defaults
extra/mysql_waitpid
extra/perror
extra/replace
extra/resolve_stack_dump
extra/resolveip

include/sql_state.h.tmp
include/config.h
include/config.h.in
include/link_sources
include/my_config.h
include/mysql_version.h
include/mysqld_ername.h
include/mysqld_ername.h.tmp
include/mysqld_error.h
include/mysqld_error.h.tmp
include/readline
include/sql_state.h
include/stamp-h1

install-sh

instance

log
log.tests

libmysql/libmysql_exports_file.cc
libmysql/libmysql_versions.ld
libmysql/libmysqlclient.so.18
libmysql/libmysqlclient.so.18.0.0
libmysql/libmysqlclient_r.so.18
libmysql/libmysqlclient_r.so.18.0.0
libmysql/mysqlclient_depends.c

libmysqld/examples/mysql_client_test_embedded
libmysqld/examples/mysql_embedded
libmysqld/examples/mysqltest_embedded
libmysqld/libmysqld.so.18
libmysqld/libmysqld_exports_file.cc
libmysqld/mysqlserver_depends.c

mysql-test/collections/default.release
mysql-test/collections/default.release.done
mysql-test/lib/My/SafeProcess/my_safe_process
mysql-test/mtr
mysql-test/mysql-test-run
mysql-test/var

mysys/thr_lock

pcre/CTestCustom.ctest
pcre/config.h
pcre/pcre.h
pcre/pcre_chartables.c
pcre/pcre_grep_test.sh
pcre/pcre_test.sh
pcre/pcregrep
pcre/pcretest

plugin/fulltext/.libs/

scripts/comp_sql
scripts/make_binary_distribution
scripts/make_sharedlib_distribution
scripts/msql2mysql
scripts/mysql_config
scripts/mysql_config.pl
scripts/mysql_convert_table_format
scripts/mysql_find_rows
scripts/mysql_fix_extensions
scripts/mysql_fix_privilege_tables
scripts/mysql_fix_privilege_tables.sql
scripts/mysql_fix_privilege_tables_sql.c
scripts/mysql_install_db
scripts/mysql_secure_installation
scripts/mysql_setpermission
scripts/mysql_zap
scripts/mysqlaccess
scripts/mysqlbug
scripts/mysqld_multi
scripts/mysqld_safe
scripts/mysqldumpslow
scripts/mysqlhotcopy
scripts/mytop

sql-bench/bench-count-distinct
sql-bench/bench-init.pl
sql-bench/compare-results
sql-bench/copy-db
sql-bench/crash-me
sql-bench/graph-compare-results
sql-bench/innotest1
sql-bench/innotest1a
sql-bench/innotest1b
sql-bench/innotest2
sql-bench/innotest2a
sql-bench/innotest2b
sql-bench/run-all-tests
sql-bench/server-cfg
sql-bench/test-ATIS
sql-bench/test-alter-table
sql-bench/test-big-tables
sql-bench/test-connect
sql-bench/test-create
sql-bench/test-insert
sql-bench/test-select
sql-bench/test-table-elimination
sql-bench/test-transactions
sql-bench/test-wisconsin

sql/.libs/
sql/client.c
sql/db.opt
sql/gen_lex_hash
sql/lex_hash.h
sql/link_sources
sql/mini_client_errors.c
sql/my_time.c
sql/my_user.c
sql/mysql_tzinfo_to_sql
sql/mysqld
sql/pack.c
sql/share/bulgarian/
sql/share/czech/
sql/share/danish/
sql/share/dutch/
sql/share/english/
sql/share/errmsg.sys
sql/share/estonian/
sql/share/french/
sql/share/german/
sql/share/greek/
sql/share/hungarian/
sql/share/italian/
sql/share/japanese-sjis/
sql/share/japanese/
sql/share/korean/
sql/share/mysql/
sql/share/norwegian-ny/
sql/share/norwegian/
sql/share/polish/
sql/share/portuguese/
sql/share/romanian/
sql/share/russian/
sql/share/serbian/
sql/share/slovak/
sql/share/spanish/
sql/share/swedish/
sql/share/ukrainian/
sql/sql_builtin.cc
sql/sql_yacc.cc
sql/sql_yacc.h
sql/sql_yacc.output

storage/blackhole/.libs/
storage/heap/hp_test1
storage/heap/hp_test2
storage/innobase/.libs/
storage/maria/aria_chk
storage/maria/aria_dump_log
storage/maria/aria_ftdump
storage/maria/aria_pack
storage/maria/aria_read_log
storage/maria/ma_rt_test
storage/maria/ma_sp_test
storage/maria/ma_test1
storage/maria/ma_test2
storage/maria/ma_test3
storage/maria/unittest/ma_control_file-t
storage/maria/unittest/ma_pagecache_consist_1k-t
storage/maria/unittest/ma_pagecache_consist_1kHC-t
storage/maria/unittest/ma_pagecache_consist_1kRD-t
storage/maria/unittest/ma_pagecache_consist_1kWR-t
storage/maria/unittest/ma_pagecache_consist_64k-t
storage/maria/unittest/ma_pagecache_consist_64kHC-t
storage/maria/unittest/ma_pagecache_consist_64kRD-t
storage/maria/unittest/ma_pagecache_consist_64kWR-t
storage/maria/unittest/ma_pagecache_rwconsist2_1k-t
storage/maria/unittest/ma_pagecache_rwconsist_1k-t
storage/maria/unittest/ma_pagecache_single_1k-t
storage/maria/unittest/ma_pagecache_single_64k-t
storage/maria/unittest/ma_pagecache_single_8k-t
storage/maria/unittest/ma_test_loghandler-t
storage/maria/unittest/ma_test_loghandler_first_lsn-t
storage/maria/unittest/ma_test_loghandler_long-t
storage/maria/unittest/ma_test_loghandler_max_lsn-t
storage/maria/unittest/ma_test_loghandler_multigroup-t
storage/maria/unittest/ma_test_loghandler_multithread-t
storage/maria/unittest/ma_test_loghandler_noflush-t
storage/maria/unittest/ma_test_loghandler_nologs-t
storage/maria/unittest/ma_test_loghandler_pagecache-t
storage/maria/unittest/ma_test_loghandler_purge-t
storage/maria/unittest/ma_test_loghandler_readonly-t
storage/maria/unittest/trnman-t
storage/myisam/mi_test1
storage/myisam/mi_test2
storage/myisam/mi_test3
storage/myisam/mi_test_all
storage/myisam/myisam_ftdump
storage/myisam/myisamchk
storage/myisam/myisamlog
storage/myisam/myisampack
storage/myisam/rt_test
storage/myisam/sp_test
storage/perfschema/gen_pfs_lex_token
storage/perfschema/pfs_lex_token.h
storage/perfschema/unittest/pfs-t
storage/perfschema/unittest/pfs_account-oom-t
storage/perfschema/unittest/pfs_host-oom-t
storage/perfschema/unittest/pfs_instr-oom-t
storage/perfschema/unittest/pfs_instr-t
storage/perfschema/unittest/pfs_instr_class-oom-t
storage/perfschema/unittest/pfs_instr_class-t
storage/perfschema/unittest/pfs_user-oom-t

strings/conf_to_src

tests/bug25714
tests/insert_test
tests/mysql_client_test
tests/proxy_user_test
tests/select_test
tests/thread_test

unittest/examples/no_plan-t
unittest/examples/simple-t
unittest/examples/skip-t
unittest/examples/skip_all-t
unittest/examples/todo-t
unittest/my_decimal/my_decimal-t
unittest/mysys/base64-t
unittest/mysys/bitmap-t
unittest/mysys/explain_filename-t
unittest/mysys/lf-t
unittest/mysys/ma_dyncol-t
unittest/mysys/my_atomic-t
unittest/mysys/my_malloc-t
unittest/mysys/my_rdtsc-t
unittest/mysys/my_vsnprintf-t
unittest/mytap/t/basic-t
unittest/sql/explain_filename-t
unittest/sql/my_apc-t
unittest/sql/sniper_modules-t
unittest/strings/strings-t
