!include include/default_my.cnf

[ENV]
MASTER_MYPORT=  13000
MASTER_MYPORT1= 13001

ALT_PORT=       13002
ALT_PORT1=      13003
ALT_PORT2=      13004
ALT_PORT3=      13005
ALT_PORT4=      13006
ALT_PORT5=      13007
ALT_PORT6=      13008
ALT_PORT7=      13009
ALT_PORT8=      13010
ALT_PORT9=      13011
ALT_PORT10=     13012
