!include include/default_my.cnf

# We only need one server but we need some additional ports to pass to
# --port. Beside the mysql port each server has reserved a replication
# port. If we don't use the replication those ports are free but in
# order to use them we need to actually request the servers.
#
# One more complication: in the tests we are going to use the
# -master.opt to pass the --port so we need to make all the rest of
# the servers not use that file. The use-slave-opt is a magic marker
# that makes the mysql-test-run.pl use -slave.opt instead of
# -master.opt.

[mysqld.2]
#!use-slave-opt
[mysqld.3]
#!use-slave-opt
[mysqld.4]
#!use-slave-opt
[mysqld.5]
#!use-slave-opt
[mysqld.6]
#!use-slave-opt
[mysqld.7]
#!use-slave-opt
[mysqld.8]
#!use-slave-opt
[mysqld.9]
#!use-slave-opt
[mysqld.10]
#!use-slave-opt

[ENV]
# MYPORT1 apparently needs to remain the same as the port mtr expects
# the server to be run else the server doesn't shutdown properly, especially
# when running under valgrind. When run under valgrind the processes stay
# running which causes subsequent tests to fail from ports being in-use.
MYPORT1=  @mysqld.1.port
MYPORT2=  @mysqld.2.repl_port
MYPORT3=  @mysqld.3.repl_port
MYPORT4=  @mysqld.4.repl_port
MYPORT5=  @mysqld.5.repl_port
MYPORT6=  @mysqld.6.repl_port
MYPORT7=  @mysqld.7.repl_port
MYPORT8=  @mysqld.8.repl_port
MYPORT9=  @mysqld.9.repl_port
MYPORT10= @mysqld.10.repl_port
